.load {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    left: 50%;
    top:0;
    transform: translateX(-50%);
    user-select: none;
    cursor: default;
    background: rgb(58 53 53 / 69%);
    z-index:999;
  }
  .load div {
    position: absolute;
    top:40%;
    font-size: 25px;
    width: 20px;
    height: 36px;
    opacity: 0;
    font-family: Helvetica, Arial, sans-serif;
    animation: move 2s linear infinite;
    transform: rotate(180deg);
    color: #fff;
  }
  .load div:nth-child(2) {
    animation-delay: 0.2s;
  }
  .load div:nth-child(3) {
    animation-delay: 0.4s;
  }
  .load div:nth-child(4) {
    animation-delay: 0.6s;
  }
  .load div:nth-child(5) {
    animation-delay: 0.8s;
  }
  .load div:nth-child(6) {
    animation-delay: 1s;
  }
  .load div:nth-child(7) {
    animation-delay: 1.2s;
  }
  @keyframes move {
    0% {
      left: 0;
      opacity: 0;
    }
    35% {
      left: 30%;
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
    }
    65% {
      left: 60%;
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
    }
    100% {
      left: 100%;
      -moz-transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
      opacity: 0;
    }
  }